# Ignorar pastas e arquivos gerados pelo IntelliJ/JetBrains
.idea/
.out/
*.iml
*.ipr
*.iws

# Ignorar arquivos de cache
*.log
*.tmp
*.swp
*.bak

# Ignorar o repositório Git
.vcs.xml

# Outros arquivos desnecessários
*.class
*.jar
*.war
*.ear

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db
*.txt
TPS/02/Q16.exe
TPS/02/Q04.o
TPS/02/Q04.exe
